numpy==1.26.4
pandas==2.2.2
protobuf==4.25.3
ml-dtypes==0.3.2
tensorflow[and-cuda]==2.16.1
keras==3.3.3
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
opencv-python-headless==4.10.0.84
optuna==3.6.1
scipy==1.13.1
packaging
